.blogLink {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: #000;
  text-decoration: none;

  font-size: 1.2rem;
  font-weight: 300;
  transition: all 0.2s ease-in-out;

  margin-bottom: 15px;
}

.blogLink:hover {
  font-weight: 500;
  color: #007acc;
}
