/*========== Responsive typography ==========*/
@media screen and (min-width: 320px) {
  .homePage {
    /* background-color: orange; */
  }

  article {
    text-align: justify;
    padding: 20px 0;
  }

  .socialBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin-top: 40px;
  }
}

@media screen and (min-width: 617px) {
  .homePage {
    /* background-color: orange; */
    /* padding: 20px; */
  }
}
