/*========== Responsive typography ==========*/

.homePage {
  /* background-color: orange; */
}

article {
  text-align: justify;
  padding: 20px 0;
}

.socialLink {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

.socialBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin-top: 40px;
}

.socialLink:hover {
  color: #0073e6;
}

@media screen and (min-width: 617px) {
  .homePage {
    /* background-color: orange; */
    /* padding: 20px; */
  }
}
