.videoLink {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}

.videoLink:hover {
  border-bottom: 2px solid #000;
  font-weight: 500;
  color: #007acc;
}
